.navbar {
  background: transparent; /* Make the navbar transparent */
  text-align: left;
}
.titlehead{
  padding-left: 10px;
  color: #2daf09;
}
.bg {
  background-image: url("../images/homeee.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.mnu{
  background-color: #7bf759;
}